<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <p>欢迎使用我们的服务！</p>
    <p>请点击下面的链接以验证您的电子邮件地址：</p>
    <p><a href="{{verificationLink}}">验证电子邮件</a></p>
    <p>如果您没有请求此操作，请忽略此电子邮件。</p>
    <p>谢谢！</p>
</body>
</html>